body {
	font-family: "Courier New", Courier, monospace;
	text-align: center;
	background-color: rgb(75, 75, 75);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#game-container {
	border: 15px solid black;
	border-bottom: 30px solid black;
	border-radius: 20px;
	padding: 10px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
}

#board {
	background-image: url("Media & Images/flappybirdbg.png");
	display: block;
}
